# Python Cheatsheet 1

**13/11/2020** 

After watching many online courses and being in the final run of my Post Graduation I decided to compile in this notebook some ideas that I learnt al long this journey.

The goal is to centralize pieces of code and use it to solve my Data Science and Analytics projects.

I will not put here concepts. This is mainly for consult, hoping that over the years I will use this less often.

I will be update if I see that there are new things that will bring value to my approach.

---

## BASICS

This one is usefull to **print one or more assigned variables into a string**

I can do this in many different ways

In [38]:
num = 4
name = 'Filipe'

print('My number is: {one} and my name is: {two}\n'.format(one = num, two = name))

print('My number is: {} and my name is: {}\n'.format(num, name))

print('This last one is my favorite of all 3, because it is simpler and more direct to the point. It is called Interpolation.\n\n' + 
      f'My number is: {num} and my name is: {name}')

My number is: 4 and my name is: Filipe

My number is: 4 and my name is: Filipe

This last one is my favorite of all 3, because it is simpler and more direct to the point. It is called Interpolation.

My number is: 4 and my name is: Filipe

***Since we are dealing with strings, here are a few methods to deal with strings and lists of strings***

In [41]:
st = 'hello my name is Filipe'

print(st.lower()+'\n')   # ---> lowercase all the letters
print(st.upper()+'\n')   # ---> uppercase all the letters
print(st.capitalize()+'\n') # ---> capitalize the first letter
print(st.split())       # ---> split my string

hello my name is filipe

HELLO MY NAME IS FILIPE

Hello my name is filipe

['hello', 'my', 'name', 'is', 'Filipe']

This split method can be investigated a little further. Let's say we want to split a tweet

In [37]:
tweet = "Let's go team! #GoTeam!"

print(tweet.split('#'))
print('\nAfter I split my tweet, since it is saved in a list, I use indexation to retrieve the word next to the hashtag.\n')
print(tweet.split('#')[1])

["Let's go team! ", 'GoTeam!']

After I split my tweet, since it is saved in a list, I use indexation to retrieve the word next to the hashtag.

GoTeam!

### Now, it is time for Lists

Lists are pretty straitghtfoward once you get the handle it.

We can have *lists of lists* ; *list with multiple types of variables* and so on...

A good technique to use with lists is **slicing --->** this is very imporant and it will be applied when I use the pandas library to deal with dataframes

### Create Lists with range() Function

In [54]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**CRUD in Lists   --- METHODS** 
    - Create: Use the .append() and the .extend() methods
    - Read
    - Update
    - Delete

In [69]:
fruits = ['orang', 'banana']

In [70]:
#Create
fruits.append('pear')
fruits

['orang', 'banana', 'pear']

In [71]:
#Create
fruits.extend(['pineapple', 'kiwi'])
fruits

['orang', 'banana', 'pear', 'pineapple', 'kiwi']

In [57]:
# Read
fruits[1]

'banana'

In [58]:
# Update
fruits[0] = 'orange'
fruits

['orange', 'banana']

In [59]:
# Delete
del(fruits[0])
fruits

['banana']

In [47]:
my_list = ['a','b','c']

# To add an element AT THE END of my list 

my_list.append('d')

# Then I call my list

my_list

['a', 'b', 'c', 'd']

In [48]:
# To replace values, I use indexation 

my_list[0] = 'z'
my_list

['z', 'b', 'c', 'd']

In [49]:
# An example of indexation

nest = [1,2,3,[4,5,['target']]]

nest[3][2][0]

'target'

In [50]:
# Retrieve the last item from my list
print(my_list.pop())

# And now my list is:
my_list

d

['z', 'b', 'c']

In [53]:
# To see if a value is on a list:

print('x' in my_list)

print('z' in my_list)

False
True

### List comprehension --- SLICING

LIST_NAME[x:y]

**The X corresponds to the element position; Y to the n-1 element position that is excluded from my output**

In [72]:
Participants = ['John', 'Leila', 'Gregory', 'Cate', 'Maria', 'Dwayne']

In [73]:
Participants[1:3]

['Leila', 'Gregory']

In [74]:
Participants[:2]

['John', 'Leila']

In [75]:
Participants[4:]

['Maria', 'Dwayne']

In [76]:
Participants[-2:]

['Maria', 'Dwayne']

In [92]:
Participants[::2]    #de 2 em 2

['Maria', 'John', 'Dwayne']

**SOME METHODS TO USE WITH LISTS**

In [77]:
Participants.index('Maria')  #get the position

4

In [78]:
Participants.sort()  # sort by alphabetical order
Participants

['Cate', 'Dwayne', 'Gregory', 'John', 'Leila', 'Maria']

In [79]:
Participants.sort(reverse = True)
Participants

['Maria', 'Leila', 'John', 'Gregory', 'Dwayne', 'Cate']

### List comprehension --- LOOPING

In [80]:
x = [1,2,3,4]

In [81]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [82]:
[item**2 for item in x]

[1, 4, 9, 16]

In [83]:
beatles = ['paul', 'john', 'ringo', 'george']
for beatle in beatles:
    print(beatle.capitalize())

Paul
John
Ringo
George

#### Looping with indexes

Using for and access the underlying list index on each element

In [85]:
beatles = ['paul', 'john', 'ringo', 'george']
list(enumerate(beatles))

[(0, 'paul'), (1, 'john'), (2, 'ringo'), (3, 'george')]

In [86]:
for index, beatle in enumerate(beatles):
    print(f'{index + 1}. {beatle.capitalize()}')

1. Paul
2. John
3. Ringo
4. George

In [87]:
# Another way is to start a count outside the function

cities = ['Porto', 'Barcelona', 'Munique']

count = 0
for city in cities:
    count += 1
    print(f'{count} - {city.capitalize()}')

1 - Porto
2 - Barcelona
3 - Munique

---

# Tuples

Tuples are another type of list but differents.

Tuples are immutable! They cannot be changed or modified

In [89]:
(age, years_of_school) = "30,17".split(',')     #split method --> tupples can be useful with comma-separated values

print(age)
print(years_of_school)

30
17

In [90]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

---

### Dictionaries

In [65]:
d = {'key1':'item1','key2':'item2'}
print(d)

print('\nList of dictionaries keys:')
print(d.keys())
print('\nList of dictionaries items:')
print(d.items())
print('\n')

d1 = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d1)

print('\nExample of Dictionaries Indexation:')
print(d1['k1'][3]['tricky'][3]['target'][3])

{'key1': 'item1', 'key2': 'item2'}

List of dictionaries keys:
dict_keys(['key1', 'key2'])

List of dictionaries items:
dict_items([('key1', 'item1'), ('key2', 'item2')])


{'k1': [1, 2, 3, {'tricky': ['oh', 'man', 'inception', {'target': [1, 2, 3, 'hello']}]}]}

Example of Dictionaries Indexation:
hello

---
**Iterate in a list of students that is part of a dictionary**

In [1]:
school = {'students': [ {'name': 'João', 'age': 18 }, {'name': 'Rita', 'age': 17}]}

In [2]:
# for elem in school['students']:
    #print(f'{elem['name']} {elem['age']}')
    
# 1st line: I'm reading the list of students, and iterating in each element, that are dictionaries with 2 keys: name and age
# in each iteration I will read te key name and key age

In [3]:
for elem in school['students']:
    print(f"{elem['name'].capitalize()} is {elem['age']} years old")

João is 18 years old
Rita is 17 years old

---
**Iterate in dictionaries**

In [8]:
people = {'pm': 'António Costa', 'president': 'Marcelo'}

for key, value in people.items():   
    print(key)

print('\n')

for key, value in people.items():   #when I do .items I allow the for loop to acess those 2 placeholders
    print(f"The {key} is {value}")

pm
president


The pm is António Costa
The president is Marcelo

----
**25/11/2020**

One of the best advices that I received when studying **Loops and Functions** was to write a pseudo-code in plain English and then translate that to program language. It was a mind-open to finally crack the logic behind this

#### Example_1: Age to vote

Define the age

Age ?

If age is over or equal 18 

    => tell that user can vote

Else

    => tell the user cannot vote

In [10]:
age = int(input('How old are you? '))# Interactive

if age >= 18:
    print('You can vote!')
else:
    print('You cannot vote!')

How old are you? 29
You can vote!

#### Example_2: Shop schedule

PSEUDOCODE

IF hour between 9 and 12 or between 2 and 5
    
    display OPEN

ELSE
    
    display CLOSED

Combine Booleans using 'and', 'or'

In [11]:
hour = 18

if (hour > 9 and hour < 12) or (hour > 14 and hour < 17):
    print("OPEN")
else:
    print("CLOSED")

CLOSED

In [12]:
hour = 21
if(hour < 12):
    print("Good Morning!")
elif hour > 12:
    print("Good Afternoon!")
elif hour > 20:
    print("Good Night!")
else:
    print("Lunch Time!")

Good Afternoon!

In [15]:
import numpy as np
from numpy.random import randn

#---- -2 ---- -1 ---- 0 ---- 1 ---- 2 ----
#Nested Statements
answer = None
x = randn()
if x > 1:
    answer = "Greater than 1"
else:
    if x >= -1:
        answer = "Between -1 and 1"
    else:
        answer = "Less than -1"

print(x)
print(answer)

0.8545496072282935
Between -1 and 1

In [16]:
#---- -2 ---- -1 ---- 0 ---- 1 ---- 2 ----
#Chained Statements
answer = None
x = randn()

if x > 1:
    answer = "Greater than 1"
elif x >= -1:
    answer = "Between -1 and 1"
else:
    answer = "Less than -1"

print(x)
print(answer)

-0.2765699458832057
Between -1 and 1

---

### When shoul we use for loop? and the while loop?

### Rule of thumb:

for: 
- we know how many iterations we are going to do  ==> range

while:
- we don't know how many iterations

In [17]:
for i in range(0, 4):
    print(i)

0
1
2
3

In [18]:
words = ['cat', 'bear', 'python']

for word in words:
    print(word, len(word))

cat 3
bear 4
python 6

In [19]:
import math

i = 0
while i < 10:
    print(f'{i}! is {math.factorial(i)}')
    i += 1
    
# Whe use a While Loop, use incrementation to stop the loop

0! is 1
1! is 1
2! is 2
3! is 6
4! is 24
5! is 120
6! is 720
7! is 5040
8! is 40320
9! is 362880

**When we want to do a counter, it is good practice to first assign an empty variable we want to fill with our loop**

Adding the same number on top of an existing variable during a loop is called incrementing

The amount being progressively added is called an increment

In [21]:
counter = 0
while counter < 12:
    print(counter)
    counter += 1

0
1
2
3
4
5
6
7
8
9
10
11

A good tip to make the output from the loop more readable is to add an end parameter to our print

In [22]:
counter = 0
while counter < 12:
    print(counter, end = " ")
    counter += 1

0 1 2 3 4 5 6 7 8 9 10 11

**Create a while loop that will print all odd numbers from 0 to 30 on the same row.**
<br />
I want to do a counter (start with a variable equal to 1 and increment from there)

Then:
1) I want to print my number
2) Then I need to increase every iteration by 2 and stop at 30, in this case the last number of my output will be 29

In [26]:
x = 1

while x <= 30:
    print(x, end = " ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

### Functions

**FUNCTIONS WITHIN FUNCTIONS**

In [37]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [38]:
wage(8), with_bonus(8)

(200, 250)

**CONDITIONAL STATEMENTS AND LOOPS IN FUNCTIONS**

Usamos iterações quando queremos percorrr variáveis que fazer parte de uma lista

Vamos contar o número de items cujo valor é menor do que 20 e pertencem a uma lista

Primeiro - Definir uma função que tem como argumento uma variável que será lista de números. Vamos chamar-lhe Number
O truque é criar uma variável que começe em 0. Vamos chamar-lhe total
A ideia é que, quando certas condições se verifiquem, o valor do total vai mudar == rolling sum

Tecnicamente: Se considerarmos um valor x na lista Number
              se for menor do que 20
                 vamos incrementar o total por 1
              E devolver esses totais
              
Isto significa que: 
    - se x < 20 ---> total aumenta por 1
    - se x >= 20 ---> total não aumenta

In [33]:
numbers = [1,12,24,31,51,70,100]

def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [34]:
count(numbers)

2

**Lambda Expressions** can make it easier to write a function

In [35]:
def times2(var):
    return var * 2

In [36]:
lambda var: var * 2

Let's say I have a list of numbers:

In [39]:
seq = [1,2,3,4,5]

I'm going to use two functions - **map and filter** - to iterate my variables using the previous function **times2** that I created

In one of th examples I'm going to make use of the **lambda function**

Documentation:
 - [map](https://www.w3schools.com/python/ref_func_map.asp)
 
map(function, iterables)
     - The function to execute for each item
     - A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.
 
 - [filter](https://www.w3schools.com/python/ref_func_filter.asp)

filter(function, iterable)
    - A Function to be run for each item in the iterable
    - The iterable to be filtered

In [40]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [41]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [42]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

### Notable Built-in Functions in Python

In [43]:
type(10)

int

In [44]:
int(5.3)

5

In [45]:
float(3)

3.0

In [46]:
str(500)

'500'

In [47]:
max(10, 20, 30)

30

In [48]:
min(10, 20, 30)

10

In [49]:
z = -30
abs(z)

30

In [50]:
list_1 = [1, 2, 3, 4]
sum(list_1)  #sums numbers inside a list

10

In [51]:
round(3.5345, 2)

3.53

In [52]:
pow(2, 10)

1024

In [53]:
len('Mathematics')

11

---

# ARRAYS

Need to use **Numpy** to create an array

We can't have an array with different kind of variables. It is like a vector in R

In [93]:
import numpy as np

Let's turn a **list** into an **array**

In [95]:
l = [2345, 27, 546, 215, -1234]
a = np.array (l)
a

array([ 2345,    27,   546,   215, -1234])

Some **methods** to use in arrays

In [97]:
a.max()

2345

In [98]:
a.argmax()

0

In [99]:
a.mean()

379.8

---
For now, these are the last inputs regarding Python Fundamentals.

The following will be focus on Data Analysis with **Numpy, Pandas, Matplotlib and Seaborn**

After that, I will go into ML and some algorithms